 * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
 }


header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgb(6, 27, 122);
  color: white;
}

.title {
  padding: 2rem 0 0;
  color: white;
  font-size: 3rem;
}

.title:hover {
  text-shadow: rgb(50, 135, 231) 1px 0 10px;
}

.share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
}

 .share-itens li{
  display: inline-block;
  margin-right: 10px;
} 

#post-original {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-image: linear-gradient(rgb(6, 27, 122), rgb(29, 58, 175));
}

#post-original p {
 font-style: italic;
 color: rgb(107, 124, 199);
}

#post-original a {
  font-style: italic;
  color: white;
  text-decoration: none;
  font-style: italic;
 }


#post-original:hover {
  background: rgb(6, 27, 122);
}

.introduction {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  background: rgb(29, 58, 175);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.introduction :nth-child(1) {
  flex: 45%;
}

.introduction :nth-child(2) {
  flex: 55%;
}

.introduction p{
  text-align: justify;
  font-size: 1.5rem;
  padding: 20px;
  color: rgb(116, 154, 204);
  text-decoration: solid;
  font-weight: bold;
}

img {
  width: 600px;
  height: 500px;
}

.img-box img.img-hover {
  display: none;
}
.img-box:hover img.img-default {
  display: none;
}
.img-box:hover img.img-hover {
  display: inherit;
  margin-bottom: 5px;
}